<div th:replace="~{/header}"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Seja Bem Vindo!</h1>
                    <!-- Mensagem de sucesso -->
                    <div  class="alert alert-success" role="alert">
                        <p>Pedido Alterado com Sucesso!!</p>
                    </div>
                    <a th:href="@{/pedidos/listarOpcoes}" class="btn btn-primary">Voltar</a>
                </div>
                
                <hr>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/footer}"></div>